html, body {
    margin: 0px;
    background-color: #2f4f30;
    color: white;
}

#divLogo{
    width: 100%;
    height: 6rem;
    background-color: white;
}

#logo{
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.carta{
    position: relative;
    width: 130px;
    height: 90%;
    left: 100px;
    margin-left: -70px;
}

#computer-cards, #player-cards{
    height: 200px;
}